{% extends 'base.html.twig' %}

{% block title %}Matière Selectionnée
{% endblock %}

{% block body %}

	<h1>{{ matiere.nom }}</h1>
	<h2>Programme</h2>
	<p>{{ matiere.programme }}</p>
	<a href="{{ path('tuteurHome') }}">Retour à l'accueil tuteur</a>

{% endblock %}
