{% extends 'tuteurBase.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block main %}
	<div class="container-l pt-5  mt-1 text-center ">

	<h1>{{ matiere.nom }}</h1>
	<p>{{ matiere.programme }}</p>
	</div>
{% endblock %}
