{% extends 'base.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block body %}
	<h1>Programme pour la matière {{ matiere.nom }}</h1>
	<p>{{matiere.programme}}</p>

{% endblock %}
