{% extends 'apprenantBase.html.twig' %}

{% block title %}Mes matieres
{% endblock %}

{% block main %}


	<div class="d-flex flex-column gap-3">
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">Mes matières pour la formation
				{{formation.nom}}</h2>

			<a href="{{path('apprenantHome')}}" class="btn btn-light h-50" >Retour à l'accueil</a>
		</div>

		<div class="list-group">
			{% for matiere in matieres %}
				<a href="{{path('apprenantProgramme', {'matiereId': matiere.id})}}" class="list-group-item list-group-item-action te">{{matiere.nom}}</a>

			{% endfor %}
		</div>


	</div>

{% endblock %}
