{% extends 'apprenantBase.html.twig' %}

{% block title %}Profil de l'apprenant{% endblock %}

{% block main %}



<div class="container rounded w-50 d-flex flex-column justify-content-center text-center gap-3 mt-5">
			<h1 class=" rounded bg-dark text-light p-3 ">Mes matières</br>
			pour la formation
			{{formation.nom}}</h2>
			<table class="rounded bg-light m-auto">
				{% for matiere in matieres %}
					<tr>
						<td class="text-center p-3">{{matiere.nom}}
						</td>
						<td class="text-center p-3">
							<a href="{{path('apprenantProgramme', {'matiereId': matiere.id})}}">
								<button class="btn btn-dark btn-md">Voir le programme</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>

{% endblock %}