a {
    text-decoration: none !important;
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 1.5rem !important ;
}

h3 {
    font-size: 1.25rem !important;
}

form {
    border-radius: 0.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

#Accueil_bienvenue {
    font-weight: 100;
    font-style: normal;
}

body{
    font-family: 'Lato', sans-serif;
}


