{% extends 'base.html.twig' %}

{% block title %}Formations Formateur{% endblock %}

{% block body %}
    <h1>Matiere</h1>
    <h2>Matières</h2>
    <ul>
        {% for matiere in matieres %}
            <li>
                {{ matiere.nom }}
            </li>
        {% endfor %}

    </ul>
{% endblock %}
