{% extends 'formateurBase.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block main %}
	<div class="d-flex flex-column gap-3">
		<h1 class="rounded bg-dark text-light mt-5 p-3 text-center ">Bienvenue
			{{ app.user.prenom }}
			{{ app.user.nom }}</h1>
		<div>
			<h2 class="rounded  text-center bg-warning mb-3 p-3">Vos formations</h2>
			<div class="list-group">
				{% for formation in formations %}
					<a href="{{ path('formateurFormation', { 'formationId': formation.id, 'formations': formations, 'matieres' : matieres }) }}" class="list-group-item list-group-item-action text-center">{{ formation.nom }}</a>

				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
