{% extends 'base.html.twig' %}

{% block title %}Formations Formateur{% endblock %}

{% block body %}
<h1>Ajouter une note pour {{ apprenant.prenom }} {{ apprenant.nom }}</h1>
{# <form action="" method="post">
    {# {{ form(form) }} #}
</form> #}
{% endblock %}
